imagecorruptions==1.1.2
joblib==1.6.0
matplotlib==3.11.2
numpy==2.5.2
nvidia-ml-py==13.615.71
nvidia-modelopt==0.47.0
onnx==1.21.0
onnxconverter-common==1.16.0
onnxruntime-gpu==1.24.4
onnxslim==0.1.96
onnx_graphsurgeon==0.6.1
opencv-python==5.0.0.93
pandas==3.0.6
pillow==12.3.0
polygraphy==0.53.6
pycocotools==2.0.11
PyYAML==6.0.3
scikit-learn==1.9.1
scipy==1.18.1
tensorrt_cu12==11.3.0.99
torch==2.11.0+cu128
torchvision==0.26.0+cu128
tqdm==4.70.1
ultralytics==8.4.164
